<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
</head>
<body>
        <div class = "container">
          <div class="header box">Travel Planner</div>
          <div class="nav box">
            <h4 id="one">My Trips:</h4>
            <button id="btn">+ add trip</button>
          </div>
          <div class="sidebar box" >Sidebar
            <img src="" width="500" height="600">
          </div>
          <div class="content box">
            <p id="des_d">My trip to:</p>
            <p id="date">Departing:</p>
            <p id="duration">Duration:</p>
            <p id="weather">Expected weather to be:</p>
          </div>
          <div class="entry box">
            <label for="destination">My trip to:</label>
            <input type="text" id="des" placeholder="Enter Location">
            <br><br>
            <label for="dep">Departing:</label>
            <input type="date" id="dep_date" placeholder="MM/DD/YY">
            <br><br>  
            <button id="generate" type="submit">Submit</button>
          </div>
          <div class="footer box"></div>
        </div>

</body>
</html>