<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
</head>
<style>
  .backimg {
    background-image: url('src/client/media/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 88vh;
    width: 100%;
  }

</style>

<body class = "backimg"> 
      <div class = "container">
          <div class="header">Travel Planner</div>
          <div class="entry">
              <label for="destination">My trip to:</label>
              <input type="text" id="des" placeholder="Enter Location" required />
              <br><br>
              <label for="dep">Departing:</label>
              <input type="date" id="dep_date" placeholder="MM/DD/YY" required />
              <br><br>  
              <button id="generate" type="submit">Submit</button>
          </div>
          <div class="footer">Travel Planner &copy 2020</div>         
      </div>

        <!-- Modal Section -->
        <div class="bg-modal">
          <div class="modal-content" display="to print">
          <div class="close">+</div>
          <div class="sidebar box" >
            <img src="" alt ="destination image" id='fromPixabay'>
          </div>
          <div class="content box">
            <p>My trip to: <span id="des_d"></span>, <span id="country"></span></p>
            <p>Departing: <span id="date_d"></span></p>
            <p>Duration: <span id="duration">days</span> days</p>
            <p>Expected weather to be: <br />
                
                <span id="temp"></span> &#176;C, <span id="description"></span> 
                <p id="icon"></p>
            </p>
          </div>
          <button onclick="window.print()" id="btn">Print</button>
          <div>
          </div>

          <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
              });
            }
          </script>        

</body>
</html>