.sidebar{
    grid-area:sd;
    background: pink;
    padding-top: 50px;
    padding-left: 50px;
  }
  .content{
    grid-area:main;
    background: pink;
    padding-top: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif
  }