@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    .entry{
        background: rgba(206, 200, 200, 0.651);
        text-align: center;
        padding-top: 30px;;
        font-family: cursive;
        font-size: 25px;
        text-align: center;
        width: 350px;
        height: 400px;
        margin-top:20px;
    }

    label {
        margin: 100px;
    }
    
    input{
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        background-color:rgba(206, 200, 200, 0.651);
        font-size: 25px;
       
    }
    
    #generate{
        font-family: fantasy;
        border-radius: 12px;
        font-size: 15px;
        padding: 10px 18px
    }
    
    #generate:hover {
        background-color: rgb(156, 154, 154);
    }

}

@media (min-width: 769px) {
.entry{
    background: rgba(206, 200, 200, 0.651);
    margin-top: 5px;
    text-align: center;
    padding-top: 40px;;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    width: 600px;
    margin-top:20px;
}

input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color:rgba(206, 200, 200, 0.651);
    font-size: 30px;
   
}

#generate{
    font-family: fantasy;
    border-radius: 12px;
    font-size: 15px;
    padding: 10px 18px
}

#generate:hover {
    background-color: rgb(156, 154, 154);
}
}