.header{
    grid-area:hd;
    font-family: fantasy;
    font-size: 30px;
    text-align: start;
    background-color: #676b70;
    border-radius: 10px;
    border-style: outset;
    padding-top:10px;
    padding-left: 10px;
  }
