@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }

    .backimg {
      background-image: url('../media/background.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 88vh;
      width: 100%;
    }
  }


@media (min-width: 769px) {
  .container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }

  .backimg {
    background-image: url('../media/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 88vh;
    width: 100%;
  }
}




  /* Large Screens */
  @media (min-width: 1200px) {
    .container{
      display:flex;
      flex-direction: column;
      align-items: center;
      margin-top: 80px;
  }

  .backimg {
    background-image: url('../media/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 88vh;
    width: 100%;
  }
}

